node_modules
.env

.project
.settings
.pem
iosKey.p8

server/coverage
client/coverage
coverage
.DS_Store

*/**/.DS_Store

.rdb

npm-debug.log

.anvil

*.swp
tmp
.grunt/grunt-gh-pages
docs/output
.coveralls.yml
*.pyc
.secret
artifacts
