var config = module.exports = {};

// notification settings
config.email = {
    from: "orange@amida-tech.com",
    sendgrid_api_key: "API KEY HERE"
};
config.text = {
    from: "+1 (617) 000-0000",
    twilio_sid: "SID HERE",
    twilio_auth_token: "AUTH TOKEN"
};

// client secret
config.secret = "testsecret";
config.jwtSecret = "0a6b944d-d2fb-46fc-a85e-0295c986cd9f";
config.keyId = "iAmTheKeyId";
config.teamId = "iAmThePrefixOfTheIOSAppId";
config.apnENV = "development";
config.pushTopic = "com.amida.orangeIgnite"

//Auth service
config.authServiceAPI = "http://localhost:4000/api/v0"

// DB connections
if (process.env.NODE_ENV === "production") {
    config.mongo = "mongodb://localhost/orange-api";
    config.zerorpc = "tcp://127.0.0.1:4242";
} else {
    config.mongo = "mongodb://localhost/orange-api";
    config.zerorpc = "tcp://127.0.0.1:4242";
}

// Express connections
config.port = 5000;
if (process.env.NODE_ENV === "production") {
    // config.listen = "0.0.0.0";
    config.listen = "localhost";
} else {
    config.listen = "localhost";
}

// Logging
if (process.env.NODE_ENV === "production") {
    /*config.logger = {
        // file: {
            // level: "info",
            // path: "/var/log/orange.log"
        // }
        logstash: {
            level: "debug",
            host: "logstash",
            port: 9999
        }
    };*/
    config.logger = {
        stdout: {
            level: "info"
        }
    };
} else if (process.env.NODE_ENV === "test") {
    // don't log anything in testing
    config.logger = {};
} else {
    config.logger = {
        stdout: {
            level: "info"
        }
    };
}

config.facebook = {
    clientID: '149343912420944',
    clientSecret: '66db0a9b905a5d12867a112ad8b83b6c',
    callbackURL: 'http://localhost:5000/v1/auth/facebook/callback',
    profileFields: ['id', 'name', 'displayName', 'picture', 'email'],
}
