var config = module.exports = {};

// notification settings
config.email = {
    from: "orange@amida-tech.com",
    sendgrid_api_key: "API KEY HERE"
};
config.text = {
    from: "+1 (617) 000-0000",
    twilio_sid: "SID HERE",
    twilio_auth_token: "AUTH TOKEN"
};

// client secret
config.secret = "testsecret";

// DB connections
if (process.env.NODE_ENV === "production") {
    config.mongo = "mongodb://db/orange-api";
    config.zerorpc = "tcp://matcher:4242";
} else {
    config.mongo = "mongodb://localhost/orange-api";
    config.zerorpc = "tcp://127.0.0.1:4242";
}

// Express connections
config.port = 3000;
if (process.env.NODE_ENV === "production")
    config.listen = "0.0.0.0";
else
    config.listen = "localhost";

// Logging
if (process.env.NODE_ENV === "production") {
    config.logger = {
        // file: {
            // level: "info",
            // path: "/var/log/orange.log"
        // }
        logstash: {
            level: "debug",
            host: "logstash",
            port: 9999
        }
    };
} else {
    config.logger = {
        stdout: {
            level: "info"
        }
    };
}
