<p>
    Hi {{requestee.firstName}},
</p>

<p>
    We hope you're finding Orange helpful. {{requestor.firstName}} {{requestor.lastName}}
    has requested access to your data. Just open up the mobile app to either accept
    or deny their request!
</p>

<p>
    The Amida Team
</p>
