<p>
    Hi {{requestee.firstName}},
</p>

<p>
    We just thought we'd give you a heads up that {{requestor.firstName}}
    {{requestor.lastName}} has cancelled their request to access your Orange data.
</p>

<p>
    The Amida Team
</p>
