<p>
    Hi {{requestor.firstName}},
</p>

<p>
    We just thought we'd give you a heads up that {{requestee.firstName}}
    {{requestee.lastName}} has {{action}} your request to access their Orange data.
</p>

<p>
    The Amida Team
</p>
