<p>
    Hi {{user.firstName}},
</p>

<p>
    Welcome to MLA Connect!

    Before using your account you must first verify it. Please go to {{config.emailVerificationInitPageUrl}} to start the verification process.
</p>

<p>
    - The MLA Team
</p>

<p>
    If you feel this email has been sent to you in error, please contact support@mlaconnect.zendesk.com
</p>
